@import "tailwindcss";
@import "react-day-picker/dist/style.css";

@layer theme {
  :root {
    --font-main: "Pretendard Variable", sans-serif;
    --font-accent: var(--font-racing-sans-one);
    --font-logo: var(--font-roboto-serif);
    --background-white: #f5f5f5;
    --background-gray: #c6c6c6;
    --white: #ffffff;
    --gray-10: #f5f5f5;
    --gray-50: #f0f0f0;
    --gray-800: #303030;
    --black: #000000;
    --yellow: #ffd700;
    --deep-navy: #0f1a2b;
    --midnight-blue: #1c2e4a;
    --ivory: #bdc4d4;
    --buttercream: #d1cfc9;
    --dusty-blue: #52677d;
    --shadow-sm: 1px 1px 5px 0 #b7b7b7;
    --shadow-pin: 4px 10px 3px rgba(85, 85, 85, 0.9);
    --shadow-md: 3px 3px 3px 0 #b7b7b7;
    --shadow-book: 4px 10px 10px 0 rgba(131, 2, 2, 0.9);
    --shadow-book-pick: 4px 10px 30px 0 #e0ab0f;
  }

  @theme inline {
    --color-background-white: var(--background-white);
    --color-background-gray: var(--background-gray);
    --color-white: var(--white);
    --color-gray-10: var(--gray-10);
    --color-gray-50: var(--gray-50);
    --color-gray-800: var(--gray-800);
    --color-black: var(--black);
    --color-yellow: var(--yellow);
    --color-deep-navy: var(--deep-navy);
    --color-midnight-blue: var(--midnight-blue);
    --color-ivory: var(--ivory);
    --color-buttercream: var(--buttercream);
    --color-dusty-blue: var(--dusty-blue);
    --font-family-pretendard: var(--font-main);
    --font-family-accent: var(--font-accent);
    --font-family-logo: var(--font-logo);
    --shadow-sm: var(--shadow-sm);
    --shadow-pin: var(--shadow-pin);
    --shadow-md: var(--shadow-md);
    --shadow-book: var(--shadow-book);
    --shadow-book-pick: var(--shadow-book-pick);
  }
}

@keyframes arrow-rise {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 0.6;
    transform: translateY(-4px);
  }
  100% {
    opacity: 0;
    transform: translateY(-12px);
  }
}

@keyframes arrow-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  20% {
    transform: translateY(8px);
    opacity: 1;
  }
  80% {
    transform: translateY(-8px);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes form-right-lg {
  0% {
    transform: translateX(-520px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes form-right-md {
  0% {
    transform: translateX(-384px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes form-right-sm {
  0% {
    transform: translateX(-288px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes form-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-520px);
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

body {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased; /* mac에서 폰트 지글지글 보이는 부분 개선 */
  text-rendering: optimizeLegibility; /* mac에서 폰트 지글지글 보이는 부분 개선 */
}

[hidden] {
  display: none !important;
}

button {
  @apply disabled:cursor-not-allowed cursor-pointer;
}

a {
  font-size: 100%;
  line-height: 1.2;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
  /* color: inherit; */
}

.tooltip {
  background-color: white;
  color: #303030;
  font-size: 14px;
  font-family: var(--font-main);
  padding: 10px;
  border-radius: 4px;
  z-index: 10;
}

.sub-banner {
  width: 100%;
  height: 300px;
  background: url("/sub_topBanner_bg.png") no-repeat center center/cover;
}

.recharts-radar-chart * {
  outline: none !important;
}
.recharts-radar-chart *:focus {
  outline: none !important;
}
.recharts-radar-chart *:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
.recharts-legend-wrapper {
  position: absolute !important;
  left: auto !important;
  right: 0 !important;
  bottom: 0 !important;
}

.recharts-legend-item {
  margin-bottom: 4px;
}

.recharts-legend-item svg {
  margin-right: 8px !important;
}

.recharts-legend-item-text {
  color: var(--color-gray-800) !important;
}

.compare input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid white;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.compare input[type="range"]::-moz-range-thumb {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid white;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.compare input[type="range"]::-moz-range-track {
  background-color: transparent;
  border: none;
}

.compare input[type="range"]::-webkit-slider-runnable-track {
  background-color: transparent;
  border: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
